<a href="https://colab.research.google.com/github/uadyf/Bootcamp-2021/blob/main/tugas_akhir/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Get File
(upload to google colab)

In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [ ]:
def con(path):
  conn = sqlite3.connect(str(path))
  return conn

def replaceNone(list_):
  replaced = []
  for i in range(len(list_)):
    new = [np.nan if val==None else val for val in list_[i]]
    replaced.append(new)
  return replaced

def query(q, path):
  df = pd.read_sql_query(str(q), con(str(path)))
  col = df.columns

  replace_nan = replaceNone(df.values)
  df_new = pd.DataFrame(replace_nan, columns=col)
  return df_new

In [ ]:
q_user = '''
        SELECT * FROM user
        '''
q_tweet = '''
          SELECT * FROM tweet
          '''
file_ = '/content/Basisdata(raw).db'

df_user = query(q_user, file_)
df_tweet = query(q_tweet, file_)

## preprocess tweet

In [2]:
import re
import string

In [ ]:
dT = df_tweet
dT

                  tweetid  ...                                              tweet
0     1357479018472239104  ...  RT @mhmdadipati: @farisandani Dari orang" yang...
1     1357478833725845507  ...  RT @iirman_: Dari Rachel Vennya jd inget kata ...
2     1357478819456720896  ...  RT @handokotjung: Berhasil membuat banyak neti...
3     1357478818701733888  ...  RT @yeontinnie: dari rachel vennya kita belaja...
4     1357478707884032001  ...  RT @mncveronica: Cerita Rachel Vennya dan Okin...
...                   ...  ...                                                ...
1995  1357367016533880832  ...  VCS brbayar😘\nNew akun 💦\nWa:083191018873 \n#v...
1996  1357366907872047104  ...  gapapa wajar lagi musim, apalagi musim ujan gi...
1997  1357366617651306496  ...  Selingkuh memang salah sih, tapi mungkin itu b...
1998  1357366613327052800  ...  RT @SpaPanggilan: #Selingkuh #sange cek video ...
1999  1357366592762380289  ...  #Selingkuh #sange cek video 👉 https://t.co/ELo...

[2000 rows x 3 columns]

In [ ]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tweetid      2000 non-null   int64
 1   createddate  2000 non-null   object
 2   tweet        2000 non-null   object
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

In [ ]:
dT['createddate'] = pd.to_datetime(dT['createddate'])
dT['createddate'] = dT['createddate'].dt.strftime('%Y-%m-%d')
dT['createddate'] = pd.to_datetime(dT['createddate'])

In [2]:
def prepTweet(list_of_tweet):
  # no stopword, will use stopword next step
  clean = []
  for t in list_of_tweet:
    low = t.lower()
    junk = re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", low)
    junk_num = re.sub(r'^\d+\s|\d+$|\d+\s|\s\d+', '', junk)
    make = str.maketrans('','',string.punctuation)
    punct = junk_num.translate(make).strip()
    remove_rt = re.sub(r'\Art\s', '', punct)
    clean.append(remove_rt)
  return clean

# because vcs is usually stand for Video Call Sex which is not related
def removeWord(data, word):
  df_filtered = data[~data['tweet'].str.contains(str(word))]
  return df_filtered

In [ ]:
dT['tweet'] = prepTweet(dT['tweet'].values)

In [ ]:
dT = removeWord(dT, 'vcs')
dT = removeWord(dT, 'meatlovers')

In [ ]:
dT

                  tweetid  ...                                              tweet
0     1357479018472239104  ...    dari orang yang belajar dari rachel vennya a...
1     1357478833725845507  ...   dari rachel vennya jd inget kata raditya dika...
2     1357478819456720896  ...   berhasil membuat banyak netizen belajar rache...
3     1357478818701733888  ...   dari rachel vennya kita belajar as long as ur...
4     1357478707884032001  ...   cerita rachel vennya dan okin membawaku untuk...
...                   ...  ...                                                ...
1994  1357367016961802240  ...              khaaa selingkuh gimana kan aku jomblo
1996  1357366907872047104  ...  gapapa wajar lagi musim apalagi musim ujan gin...
1997  1357366617651306496  ...  selingkuh memang salah sih tapi mungkin itu bi...
1998  1357366613327052800  ...   selingkuh sange cek video   surabaya medan ja...
1999  1357366592762380289  ...  selingkuh sange cek video   surabaya medan jak...

[1542 rows x 3 columns]

In [ ]:
dT.to_csv('tweet.csv', index=False)

## preprocess tweet part 2

In [5]:
!pip install PySastrawi

Collecting PySastrawi
  Downloading https://files.pythonhosted.org/packages/61/84/b0a5454a040f81e81e6a95a5d5635f20ad43cc0c288f8b4966b339084962/PySastrawi-1.2.0-py2.py3-none-any.whl (210kB)
     |████████████████████████████████| 215kB 5.1MB/s
Installing collected packages: PySastrawi
Successfully installed PySastrawi-1.2.0

In [6]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
nltk.download('stopwords')
nltk.download('punkt')
stop_words = set(stopwords.words('indonesian'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [7]:
tweet = pd.read_csv('tweet.csv')

In [8]:
tweet

                  tweetid  ...                                              tweet
0     1357479018472239104  ...    dari orang yang belajar dari rachel vennya a...
1     1357478833725845507  ...   dari rachel vennya jd inget kata raditya dika...
2     1357478819456720896  ...   berhasil membuat banyak netizen belajar rache...
3     1357478818701733888  ...   dari rachel vennya kita belajar as long as ur...
4     1357478707884032001  ...   cerita rachel vennya dan okin membawaku untuk...
...                   ...  ...                                                ...
1537  1357367016961802240  ...              khaaa selingkuh gimana kan aku jomblo
1538  1357366907872047104  ...  gapapa wajar lagi musim apalagi musim ujan gin...
1539  1357366617651306496  ...  selingkuh memang salah sih tapi mungkin itu bi...
1540  1357366613327052800  ...   selingkuh sange cek video   surabaya medan ja...
1541  1357366592762380289  ...  selingkuh sange cek video   surabaya medan jak...

[1542 rows x 3 columns]

In [3]:
def removeDup(data, column):
  df = data.drop_duplicates(subset=[str(column)])
  return df

def prepTweet2(data, column_to_prep, words_removal):
  df = data
  for word in words_removal:
    df = removeWord(data, word)
  df = removeDup(df, column_to_prep)
  list_of_tweet = df[str(column_to_prep)]
  clean = []
  for val in list_of_tweet:
    token = word_tokenize(val)
    not_stopword = [word for word in token if word not in stop_words]
    clean.append(' '.join(not_stopword))
  df['clean'] = clean
  return df

In [9]:
tweet = prepTweet2(tweet, 'tweet', ['sange'])

In [13]:
tweet.drop('tweet', axis=1, inplace=True)

In [17]:
tweet.rename({'clean':'tweet'}, axis=1, inplace=True)

In [18]:
tweet

                  tweetid  ...                                              tweet
0     1357479018472239104  ...  orang belajar rachel vennya belajar orang bela...
1     1357478833725845507  ...  rachel vennya jd inget raditya dikamenikahlah ...
2     1357478819456720896  ...   berhasil netizen belajar rachel vennya bikin les
3     1357478818701733888  ...  rachel vennya belajar as long as ure in relati...
4     1357478707884032001  ...  cerita rachel vennya okin membawaku mengeluark...
...                   ...  ...                                                ...
1535  1357367144271417346  ...                       dituduh selingkuh malamjumat
1536  1357367049484263425  ...                           selingkuh enak rt setuju
1537  1357367016961802240  ...                      khaaa selingkuh gimana jomblo
1538  1357366907872047104  ...       gapapa wajar musim musim ujan gini selingkuh
1539  1357366617651306496  ...  selingkuh salah sih komunikasi pasanganmu lanc...

[513 rows x 3 columns]

In [19]:
tweet.to_csv('tweet_clean.csv', index=False)

## preprocess user

In [ ]:
dUs = df_user
dUs

                   userid                  name  ... friend verified
0      892670807121330177         Ferdy Agusman  ...     14        0
1               277434635       Karina angelika  ...    378        0
2               544170238        Kanjeng Sultan  ...    333        0
3     1356180001888976899              UrExtacy  ...    114        0
4     1168873359741874176                  bela  ...     48        0
...                   ...                   ...  ...    ...      ...
1995  1356663513024880641           Dania Putri  ...      0        0
1996  1270945722259529728                    AL  ...    105        0
1997  1291683283516850178  Rexsy Aprino Sanggen  ...      5        0
1998  1011527885876654080       pijat panggilan  ...    222        0
1999  1011527885876654080       pijat panggilan  ...    222        0

[2000 rows x 8 columns]

In [ ]:
dUs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          2000 non-null   int64
 1   name            2000 non-null   object
 2   screenname      2000 non-null   object
 3   location        2000 non-null   object
 4   accountcreated  2000 non-null   datetime64[ns]
 5   follower        2000 non-null   int64
 6   friend          2000 non-null   int64
 7   verified        2000 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 125.1+ KB

In [ ]:
dUs['name'] = dUs['name'].fillna('hai')

In [ ]:
dUs['location'] = dUs['location'].fillna('Indonesia')

In [ ]:
dUs['accountcreated'] = pd.to_datetime(dUs['accountcreated'])
dUs['accountcreated'] = dUs['accountcreated'].dt.strftime('%Y-%m-%d')
dUs['accountcreated'] = pd.to_datetime(dUs['accountcreated'])

In [ ]:
dUs

                   userid                  name  ... friend verified
0      892670807121330177         Ferdy Agusman  ...     14        0
1               277434635       Karina angelika  ...    378        0
2               544170238        Kanjeng Sultan  ...    333        0
3     1356180001888976899              UrExtacy  ...    114        0
4     1168873359741874176                  bela  ...     48        0
...                   ...                   ...  ...    ...      ...
1995  1356663513024880641           Dania Putri  ...      0        0
1996  1270945722259529728                    AL  ...    105        0
1997  1291683283516850178  Rexsy Aprino Sanggen  ...      5        0
1998  1011527885876654080       pijat panggilan  ...    222        0
1999  1011527885876654080       pijat panggilan  ...    222        0

[2000 rows x 8 columns]

In [ ]:
dUs.to_csv('user.csv', index=False)