<a href="https://colab.research.google.com/github/uadyf/Bootcamp-2021/blob/main/tugas_akhir/scrape_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import tweepy
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

In [ ]:
ACCESS = 'ACCESS'
ACCESS_S = 'ACCESS_S'
TOKEN = 'TOKEN'
TOKEN_S = 'TOKEN_S'

In [ ]:
auth = tweepy.OAuthHandler(ACCESS, ACCESS_S)
auth.set_access_token(TOKEN, TOKEN_S)

api = tweepy.API(auth, wait_on_rate_limit=True)

In [ ]:
def filterTweet(tweet, key_outside, key_inside=None):
  if key_inside is not None:
    result1 = tweet._json[str(key_outside)][str(key_inside)]
    return result1
  else:
    result2 = tweet._json[str(key_outside)]
    return result2

def searchTweet(query, since, until, items):
  inside_user = ['id', 'name', 'screen_name', 'location', 'created_at', 'followers_count', 'friends_count', 'verified']
  inside_tweet = ['id', 'created_at', 'full_text']

  user_out = []
  tweet_out = []
  for tweet in tweepy.Cursor(api.search, q=query, since=since, until=until, tweet_mode='extended').items(items):
    out_user = []
    out_tweet = []
    
    for col_user in inside_user:
      result_user = filterTweet(tweet, 'user', col_user)
      out_user.append(result_user)
    
    for tw in inside_tweet:
      result_tw = filterTweet(tweet, tw)
      out_tweet.append(result_tw)
      
    user_out.append(out_user)
    tweet_out.append(out_tweet)
  final_user = replaceToNan(user_out)
  final_tweet = replaceToNan(tweet_out)
  return final_user, final_tweet

def replaceToNan(list_):
  replaced = []
  for i in range(len(list_)):
    new = [np.nan if val=='' else val for val in list_[i]]
    replaced.append(new)
  return replaced

def loop(query):
  SINCE = '2021-01-28'
  UNTIL = '2021-02-05'
  ITEMS = 1000
  
  out_user = []
  out_tweet = []
  for i in query:
    user_all = []
    tweeted = []
    user, tweet = searchTweet(i, SINCE, UNTIL, ITEMS)
    user_all.append(user)
    tweeted.append(tweet)

    out_user.append(user_all)
    out_tweet.append(tweeted)
  return out_user, out_tweet

def con(path):
  try:
    con = sqlite3.connect(str(path))
    return con
  except Error:
    print(Error)

In [ ]:
q = ['Rachel+Vennya', '#Selingkuh']
out_user, out_tweet = loop(q)

In [ ]:
inside_user = ['id', 'name', 'screen_name', 'location', 'created_at', 'followers_count', 'friends_count', 'verified']
inside_tweet = ['id', 'created_at', 'full_text']
df_user = pd.DataFrame(out_user[0][0]+out_user[1][0], columns=inside_user)
df_tweet = pd.DataFrame(out_tweet[0][0]+out_tweet[1][0], columns=inside_tweet)

In [ ]:
df_user

                       id                  name  ... friends_count verified
0      892670807121330177         Ferdy Agusman  ...            14    False
1               277434635       Karina angelika  ...           378    False
2               544170238        Kanjeng Sultan  ...           333    False
3     1356180001888976899              UrExtacy  ...           114    False
4     1168873359741874176                  bela  ...            48    False
...                   ...                   ...  ...           ...      ...
1995  1356663513024880641           Dania Putri  ...             0    False
1996  1270945722259529728                    AL  ...           105    False
1997  1291683283516850178  Rexsy Aprino Sanggen  ...             5    False
1998  1011527885876654080       pijat panggilan  ...           222    False
1999  1011527885876654080       pijat panggilan  ...           222    False

[2000 rows x 8 columns]

In [ ]:
df_user.to_sql('userr', con('/content/Basisdata(raw).db'))

In [ ]:
df_tweet

                       id  ...                                          full_text
0     1357479018472239104  ...  RT @mhmdadipati: @farisandani Dari orang" yang...
1     1357478833725845507  ...  RT @iirman_: Dari Rachel Vennya jd inget kata ...
2     1357478819456720896  ...  RT @handokotjung: Berhasil membuat banyak neti...
3     1357478818701733888  ...  RT @yeontinnie: dari rachel vennya kita belaja...
4     1357478707884032001  ...  RT @mncveronica: Cerita Rachel Vennya dan Okin...
...                   ...  ...                                                ...
1995  1357367016533880832  ...  VCS brbayarðŸ˜˜\nNew akun ðŸ’¦\nWa:083191018873 \n#v...
1996  1357366907872047104  ...  gapapa wajar lagi musim, apalagi musim ujan gi...
1997  1357366617651306496  ...  Selingkuh memang salah sih, tapi mungkin itu b...
1998  1357366613327052800  ...  RT @SpaPanggilan: #Selingkuh #sange cek video ...
1999  1357366592762380289  ...  #Selingkuh #sange cek video ðŸ‘‰ https://t.co/ELo...

[2000 rows x 3 columns]

In [ ]:
df_tweet.to_sql('tweeet', con('/content/Basisdata(raw).db'))